BOT_TOKEN=your_bot_token_here
ADMIN_ID=your_telegram_user_id_here
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/nyx_shop
DB_NAME=nyx_shop
MINI_APP_URL=https://your-frontend.onrender.com

CARD_REQUISITES=8600 1234 5678 9012
CARD_HOLDER=NYX SHOP
PAYME_PHONE=+998901234567
