# Telegram
BOT_TOKEN=
ADMIN_ID=
EXTRA_ADMIN_IDS=7004667100
SUPPORT_AGENT_IDS=1771984046,8235243143
MINI_APP_URL=
WEBHOOK_URL=

# Server
PORT=8000

# MongoDB
MONGODB_URI=
DB_NAME=nyx_shop

# Payment requisites
CARD_REQUISITES=
CARD_HOLDER=
UZCARD_REQUISITES=
UZCARD_HOLDER=
VISA_REQUISITES=
VISA_HOLDER=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
